<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HOWL Share</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.howl.barkside</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>howl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.howl.barkside</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>NSNotificationsUsageDescription</key>
	<string>Notifications usage description</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>NSUserActivityTypeBrowsingWeb</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>HOWL users your microphone to record sound during videos of incidents</string>
	<key>NSContactsUsageDescription</key>
	<string>Your contacts can be used to configure your emergency contacts</string>
	<key>NSCameraUsageDescription</key>
	<string>Your camera can be used to capture an image of your dog or emergency contact and for recording video of a dog theft incident</string>
	<key>UIAppFonts</key>
	<array>
		<string>Aileron-Black.otf</string>
		<string>Aileron-BlackItalic.otf</string>
		<string>Aileron-Bold.otf</string>
		<string>Aileron-BoldItalic.otf</string>
		<string>Aileron-Heavy.otf</string>
		<string>Aileron-HeavyItalic.otf</string>
		<string>Aileron-Italic.otf</string>
		<string>Aileron-Light.otf</string>
		<string>Aileron-LightItalic.otf</string>
		<string>Aileron-Regular.otf</string>
		<string>Aileron-SemiBold.otf</string>
		<string>Aileron-SemiBoldItalic.otf</string>
		<string>Aileron-Thin.otf</string>
		<string>Aileron-ThinItalic.otf</string>
		<string>Aileron-UltraLight.otf</string>
		<string>Aileron-UltraLightItalic.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HOWL Share</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>Howl_select.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.howl.barkside</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>howlshare</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:howlforhelp.com</string>
	</array>
</dict>
</plist>
