<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Howl.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3.1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
				<key>dateExpires</key>
				<string>20/09/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CarbonKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>10.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>10.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>10.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>10.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>10.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SKCountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Swift_EventBus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>W3WSwiftApi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.9.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1A7313B98849F8118C497C38EE74A2DF17CEDB36</string>
						<key>dateExpires</key>
						<string>20/09/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>what3words.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>82RKP3YAL9</string>
						<key>name</key>
						<string>The Bark Side Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.9.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>82RKP3YAL9.com.howl.barkside</string>
				<key>com.apple.developer.team-identifier</key>
				<string>82RKP3YAL9</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Howl.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dcdf2df7-1e56-4eaf-bc14-f0b253ddf739</string>
				<key>dateExpires</key>
				<string>05/10/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.howl.barkside</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>82RKP3YAL9</string>
				<key>name</key>
				<string>The Bark Side Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>TV-1.0.0.20231013</string>
		</dict>
	</array>
</dict>
</plist>
